.wx-toolpanel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
}

    .wx-toolpanel > .dropdown {
        display: none;
        position: absolute;
    }

    .wx-toolpanel:hover .dropdown {
        display: block;
    }

    .wx-toolpanel:focus .dropdown {
        display: block;
    }
